.media-container {
	display: flex;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 10px;
    min-height: 115px;
	&>div {
		flex:1;
	}
	&>div:first-child {
		flex:none;
		width: 105px;
		img {
			width: 100%;
		}
	}
}
.media-mid-content {
	/* Gojira (Godzilla) 19: */
	h3 {
		font-family: 'Helvetica Neue', sans-serif;
		font-size: 20px;
		font-weight: normal;
		color: #4E553D;
		line-height: 24px;	
	}
}