<div class="container">
 <div id="fb-root"></div>
  

  <div class="jumbotron text-center">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p>
      <button type="button" class="btn btn-lg btn-success" ng-click="vm.login()">Log In</button>
      <button type="button" class="btn btn-lg btn-info" ng-click="vm.logout()">Log Off</button>
    </p>
  </div>
  <div ng-repeat="event in vm.userEvents">
    <h3>{{event.name}}</h3>
    <p>{{event.description}}</p>
  </div>

</div>
