<div class="container-liquid">
    <div id="fb-root"></div>
    <div class="header-main">
        <p class="text-right">
            <button type="button" class="btn btn-lg btn-success" ng-click="vm.login()">Log In</button>
            <button type="button" class="btn btn-lg btn-info" ng-click="vm.logout()">Log Off</button>
        </p>
        <div class="logo-box">
            <div class="logo-inner-box">
                <img src="assets/images/Deer_icon.png">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                <div ng-repeat="event in vm.userEvents">
                    <event-fb user-event="event"></event-fb>
                </div>

            </div>         
        </div>
    </div>
</div>
